:root{
    --brown: rgb(137, 102, 52);
    --blue: #2a3faa;
    --dark: #222;
    --light: #ccc;
}
.whoami, .do, .like, .achievement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

* {
  box-sizing: border-box;
  font-size: medium;
  margin: 0;
  padding: 0;
}

body {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #040404 !important;
  color: #fff !important;
  position: relative;
  font-size: medium;
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: auto;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("https://user-images.githubusercontent.com/66039545/155833662-d5e7121e-4ee3-40a4-aa1b-575cef5a06a1.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  opacity: 0.1;
}

.text-center{
  text-align: center;
}

.vt323 {
  font-family: vt323 !important;
}

h2, h2 a{
  font-size: 28px;
}

#typing-effect{
  display: inline-block;
  font-size: xx-large;
  padding-right: 2px;
}

.cursor{
  display: inline-block;
  width: 3px;
  height: 30px;
  background-color: var(--brown);
  animation: typing-cursor 1s infinite;
}

@keyframes typing-cursor{
  0%, 25% {
      opacity: 0;
  }
  26%, 50% {
      opacity: 0.1;
  }
  51%, 75% {
      opacity: 1;
  }
  76%, 100% {
      opacity: 0.1;
  }
}
